# VPS Configuration
VPS_IP=

# Database Configuration
DB_PASSWORD=

# LLM & AI Services
GEMINI_API_KEY=
COHERE_API_KEY=

# Authentication
# Run `openssl rand -hex 32` to generate a secure secret
JWT_SECRET=

# Observability (Langfuse)
# Run `openssl rand -base64 32` to generate
LANGFUSE_SECRET=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
